<!DOCTYPE html>

<head>

    <title>Sign Up</title>
    <script type="text/javascript" src= "/assets/scripts/ValidateAcct.js"></script>

</head>



<form id ="Signup-form" action = "/signup" method = "post" onsubmit="test()" >

<p>First Name: </p>   
<input type ="text" name = "firstname">

<p>Last Name: </p>
<input type ="text" name = "lastname">

<p>Email: </p>
<input type ="text" name = "email">

<p>Confirm email: </p>
<input type ="text" name = "confirm_email">


<p>Date of birth: </p>
<input type ="text" name = "date_of_birth">

<p>Province/State</p>
<input type ="text" name = "province">

<p>Country</p>
<input type ="text" name = "country">

<p>Username:</p>
<input type ="text" name = "username">

<p>Password:</p>
<input type ="text" name = "password">

<p>Confirm Password:</p>
<input type ="text" name = "Confirmpassword">

<input type = "submit" value = "Submit">

</form>