
  

  <div id = "Profile-Info">

    <img src = "/assets/images/Profile_Pic_Placeholder.png" alt = "Profile_Pic" height="256" width="256" >
  
    <h2>USERNAME</h2>
    <p>USER DESCRIPTION</p>
    <p>Ontario, Canada</p>
    <p>Joined Jan, 10th 2019</p>
    <button type = "button" id = "Message_Person">Message USERNAME</button>

  </div>


  <div id = "Profile-Feed">

    <h2>Feed</h2>

   

      <ul>
    
       
        


          <div name = "Tweets">
  
            
            <h4>HI HI HI HI TWEET CONTNET</h4>
            <p>feb,12 2018</p>
  
  
          </div>
  
  
  
   
      </ul> 
 

    

 
  </div>
